@use '../vars.scss';

.badge {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 2px 8px 2px 2px;
    border-radius: 99px;
    font-size: 14px;
    line-height: 20px;

    @include vars.mobile {
        padding: 2px 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
    }

    &::before {
        content: '';
        display: flex;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;

        @include vars.mobile {
            display: none;
        }
    }

    &_green {
        background-color: vars.$success-100;
        color: vars.$success-600;

        &::before {
            background-image: url('../img/plus.svg');
        }
    }

    &_blue {
        background-color: vars.$link-100;
        color: vars.$link-600;

        &::before {
            background-image: url('../img/check.svg');
        }
    }

    &_red {
        background-color: vars.$error-100;
        color: vars.$error-600;

        &::before {
            background-image: url('../img/fire.svg');
        }
    }
}
