@use '../vars.scss';

.footer {
    display: none;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 72px;
    background-color: vars.$background-primary;
    border-top: 1px solid vars.$darkner-16;
    padding: 0 24px;
    align-items: center;

    @include vars.tablet {
        display: flex;
    }

    @include vars.mobile {
        height: 76px;
        padding: 0 16px;
    }

    &__nav-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.footer-nav-element {
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 4px;
        height: 40px;
        padding: 0 16px;
        border-radius: 99px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: vars.$text-primary;
        transition: background-color 0.2s;

        @include vars.mobile {
            height: 60px;
            flex-direction: column;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }

        &_active {
            background-color: vars.$darkner-8;

            @include vars.mobile {
                background-color: transparent;
                color: vars.$accent-500;

                .footer-nav-element {
                    color: vars.$accent-500;
                }
            }
        }

        &:hover:not(.footer-nav-element__link_active) {
            background-color: vars.$accent-100;
        }

        &:active:not(.footer-nav-element__link_active) {
            background-color: vars.$accent-500;
            color: vars.$text-primary-invert;

            .footer-nav-element__icon {
                color: vars.$text-primary-invert;
            }
        }
    }

    &__icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
    }
}
