@use '../vars.scss';

.filters {
    display: flex;
    gap: 4px;
}

.table-history {
    display: grid;
    grid-template-columns: 128fr 160fr 240fr 184fr 440fr;

    &__head {
        display: contents;

        .table-cell-h:nth-child(1) {
            padding-left: 0;
        }

        @include vars.mobile {
            display: none;
            visibility: hidden;
        }
    }

    &__cell-h {
        display: flex;
        align-items: center;
        padding: 16px 8px 14px;
        border-bottom: 2px solid vars.$darkner-16;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        &_right {
            justify-content: flex-end;
        }
    }

    &__row {
        display: contents;
        padding: 4px 0;

        .table-cell:nth-child(1) {
            padding-left: 0;
        }
    }

    &__cell {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d6d6d6;
        padding: 12px 8px;
        color: #1f1f1f;
        font-size: 14px;
        line-height: 20px;

        @include vars.mobile {
            border-bottom: none;
        }

        &.align-start {
            align-items: flex-start;
        }

        &.ellipsis {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
