@use '../vars.scss';

.content-index {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.transfer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.48px;
    }

    &__title-link {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: vars.$link-600;
        text-decoration: none;
    }

    &__cards {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;

        @include vars.mobile {
            flex-direction: column;
            gap: 16px;
        }
    }
}

.transfer-card {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 149px;

    @include vars.tablet {
        // width: 229px;
    }

    @include vars.mobile {
        width: 100%;
    }

    &__balance {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.48px;

        &::after {
            flex-shrink: 0;
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-image: url('../img/coin.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
    }
}
