@use '../vars.scss';

.content-profile {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @include vars.mobile {
        display: flex;
        flex-direction: column;
    }
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px 24px;
    border-radius: 24px;
    border: 1px dashed vars.$link-500;
    background-color: vars.$background-primary;

    &_selected {
        border: 1px solid vars.$darkner-16;
    }

    &__block {
        display: flex;
        flex-direction: column;

        &_content {
            gap: 2px;
            padding-bottom: 16px;
        }
    }

    &__img {
        width: 64px;
        height: 64px;
        object-fit: contain;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.2px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
    }

    &__link {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: vars.$link-500;
        text-decoration: none;
    }
}
