extends ../layout.pug

block variables
  - var page = 'index'

block content
    include ../icons/icon-coin.pug
    include ../icons/icon-copy.pug
    include ../icons/icon-eye-closed.pug
    include ../icons/icon-eye-open.pug

    main.main
        .content.content_index
            .content-index
                .content-title
                    .content-title__title-wrapper
                        h1.content-title__title Баланс
                    .content-title__balance
                        span 241&nbsp;916,25
                        img.content-title__icon(src="img/coin.svg")
                .transfer
                    .transfer__title Движение за месяц
                        a.transfer__title-link(href='./history.html') Все операции
                    .transfer__cards
                        .transfer-card.transfer-card_accrued
                            .transfer-card__balance 241&nbsp;916,25
                            .transfer-card__title Начислено
                        .transfer-card.transfer-card_spent
                            .transfer-card__balance 241&nbsp;916,25
                            .transfer-card__title Потрачено
                        .transfer-card.transfer-card_burned
                            .transfer-card__balance 241&nbsp;916,25
                            .transfer-card__title Сгорело
            .content-card
                .card-index
                    .card-index__block
                        .card-index__title-block
                            .card-index__title Beautycoin ID
                            .card-index__number 1234 5678 9012 3456
                        .card-index__copy-block
                            button.button-icon.card-index__copy(type="button")
                                +icon-copy('card-index__copy-icon')
                    .card-index__block
                        .card-index__title-block
                            .card-index__title CVV
                            .card-index__number •••
                            .card-index__number.hidden 123
                        .card-index__copy-block
                            button.button-icon.card-index__copy(type="button")
                                +icon-eye-closed('card-index__copy-icon')
                                +icon-eye-open('card-index__copy-icon hidden')
