extends ../layout.pug

block variables
  - var page = 'index'

block content
    //- include ../components/button.pug
    //- include ../components/select.pug
    //- include ../icons/icon-settings.pug

    main.main
