extends ../layout.pug

block variables
  - var page = 'index'

block content
    include ../icons/icon-coin.pug
    include ../icons/icon-copy.pug
    include ../icons/icon-eye-closed.pug
    include ../icons/icon-eye-open.pug

    main.main
        .content.content_index
            .content-index
                .content-title
                    .content-title__title-wrapper
                        h1.content-title__title Баланс
                    .content-title__balance
                        span 241&nbsp;916,25
                        img.content-title__icon(src="img/coin.svg")
                .transfer
                    .transfer__title Движение за месяц
                        a.transfer__title-link(href='./history.html') Все операции
                    .transfer__cards
                        .transfer-card.transfer-card_accrued
                            .transfer-card__balance 241&nbsp;916,25
                            .badge.badge_green.badge_plus Начислено
                        .transfer-card.transfer-card_spent
                            .transfer-card__balance 241&nbsp;916,25
                            .badge.badge_blue.badge_check Потрачено
                        .transfer-card.transfer-card_burned
                            .transfer-card__balance 241&nbsp;916,25
                            .badge.badge_red.badge_fire Сгорело
            .content-card
                .card-id
                    .card-id__block
                        .card-id__title-block
                            .card-id__title Beautycoin ID
                            .card-id__number 1234 5678 9012 3456
                        .card-id__copy-block
                            button.button-icon.card-id__copy(type="button")
                                +icon-copy('card-id__copy-icon')
                    .card-id__block
                        .card-id__title-block
                            .card-id__title CVV
                            .card-id__number.js-cvv-1-dot •••
                            .card-id__number.js-cvv-1-number.hidden 123
                        .card-id__copy-block
                            button.button-icon.card-id__copy.js-cvv-button(type="button" data-cvv-id="js-cvv-1")
                                +icon-eye-closed('card-id__copy-icon')
                                +icon-eye-open('card-id__copy-icon hidden')
