@use 'reset';
@use 'fonts';
@use 'vars';

@use './components/footer.scss';
@use './components/header.scss';
@use './components/select.scss';
@use './components/pagination.scss';

@use './pages/index.scss';
@use './pages/history.scss';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    font-family: vars.$main-font;
    color: vars.$text-primary;
    background-color: vars.$background-primary;

    @include vars.mobile {
        font-size: 16px;
        line-height: 24px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

.body-lock {
    overflow: hidden;
}

.mobile-none {
    @include vars.mobile {
        display: none;
    }
}
